@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;700&display=swap");

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

body {
  background: #efefef;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el track (la parte que no se mueve) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Estilo para el thumb (la parte que se mueve) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Color de fondo del thumb */
  border-radius: 2px; /* Redondeo de las esquinas del thumb */
}

/* Cambia el color del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de fondo del thumb al pasar el mouse */
}
