.heroSection {
  padding: 0px 30px;
  /* width: 90%;
    margin-left: 5%; */
  margin-top: 1em;
}

.boxListProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .heroSection {
    padding: 0px 10px
  }
}
