.boxTypeAccount {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5em;
}

.centerOpc {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.opcUser {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 13px;
}

.opcUser:hover {
  background: #f0f0f0;
  border-radius: 1em;
}

.opcUserSelected {
  background: #f0f0f0;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
  cursor: pointer;
  font-size: 13px;  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0.6em;
}

.inputForm {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid #a1a1a1;
}

.inputForm:after {
  border: 1px solid #a1a1a1;
}

.boxBtn {
  display: grid;
  place-content: center;
}

.realBtn {
  padding: 5px 10px 5px 10px;
  border: 1px solid #fff;
  background: #a4a4a4;
  border-radius: 1em;
  cursor: pointer;
  color: #fff;
}
